p#notice= notice
h1 Станции

- if @railway_stations.present?
  = render @railway_stations
- else
  | Не создано ни одной станции
.clearfix

br
= link_to t("common.new_station"), new_admin_railway_station_path
= render "common/come_back"
