h1 Поезд
p#notice= notice

.col-xs-offset-2.col-xs-4 Номер:
.col-xs-4 =< @train.number
.clearfix

.col-xs-offset-2.col-xs-4  Маршрут на котором находится поезд:
- if @train.route.present?
  .col-xs-4 =< @train.route.name
- else
  .col-xs-4 Поезд не находится ни на какой станции
.clearfix
br

.col-xs-6
  | Сортировка вагона
  / !!!!!!!!!!!!!!!!!!!!!!!!!

  br
  br
.clearfix

.col-xs-6
  - @train.wagons.sort_number_up.each do |wagon|
    .col-xs-6
      | Порядковый номер:
      =< wagon.number_in_train
    .col-xs-3 = link_to "#{wagon.number}", wagon_path(:id => wagon.id)
    .col-xs-2.margin =< button_to 'Отсоеденить вагон', remove_wagon_path( :id => @train.id, :wagon => wagon), :method=>:post, :class => "btn btn-primary btn-xs"
    br

.col-xs-6
  - if @wagons_not_number.present?
    - @wagons_not_number.each do |wagon|
      .col-xs-4 = wagon.number

      .col-xs-6.margin =< button_to 'Добавить вагон', add_wagon_path( :id => @train.id, :wagon => wagon), :method=>:post, :class => "btn btn-primary btn-xs"
      br


.clearfix

br
br

=> link_to 'Редактирование', edit_train_path(@train)
| \
=< link_to 'Вернуться назад', trains_path








/ | Плацкартные:
/   br
/   - if @train.reserved_seat.present?
/     - @train.reserved_seat.each do |wagon|
/       = "№#{wagon.number} в нем верхних мест #{wagon.count_top_places}, нижних #{wagon.count_lower_places}"
/       br
/   - else
/     | К поезду не прикреплены плацкартные вагоны
/ .col-xs-6
/   | Купейные:
/   br
/   - if @train.compartment.present?
/     - @train.compartment.each do |wagon|
/       = "№#{wagon.number} в нем верхних мест #{wagon.count_top_places}, нижних #{wagon.count_lower_places}"
/       br
/   - else
/     | К поезду не прикреплены купейные вагоны
/ h5.center Присоеденить к поезду вагоны:
/ = binding.pry
/ - @train.wagons.sort_number.each do |wagon|
/ с головы/c хвоста поезда:
/ =< check_box_tag "Сортировка по номеру", true, false, :class => 'accept_tos'

/ # = select_tag

/ :type, { "с головы": "", "c хвоста": "" }, {},disabled:  @wagon.class.to_s != "Wagon",  :class

/ # = select_tag "train", options_from_collection_for_select(@trains, "id", "number")
/ = form_tag users_path, :controller => 'users', :action => 'townsearch', :method => 'get' do
/   = select_tag :county, options_for_select(User::COUNTY_OPTIONS)
/   = submit_tag 'search'
