p#notice = notice
h1.center Билет куплен
br
.col-xs-offset-4.col-xs-2 Имя:
.col-xs-2 = @ticket.name
.clearfix
.col-xs-offset-4.col-xs-2 Фамилия:
.col-xs-2 = @ticket.surname
.clearfix
.col-xs-offset-4.col-xs-2 Отчество:
.col-xs-2 = @ticket.patronymic
.clearfix
br
.col-xs-offset-4.col-xs-2 Маршрут:
.col-xs-2 = @ticket.train.route.try(:name)
.clearfix

.col-xs-offset-4.col-xs-2 Поезд:
.col-xs-2 = @ticket.train.number

.col-xs-offset-4.col-xs-2 Пользователь:
.col-xs-2 = current_user.email
.clearfix
br

= link_to t("common.back"), tickets_path
