h4
  | Поезд:
  =< @wagon.train.number

h4
  | Вагон:
  =< @wagon.number

.col-xs-offset-3.col-xs-3 Количество верхних мест:
.col-xs-2                 =< @wagon.count_top_places
.clearfix

.col-xs-offset-3.col-xs-3 Количество нижних мест:
.col-xs-2                 =< @wagon.count_lower_places
.clearfix

.col-xs-offset-3.col-xs-3 Боковых верхние места:
.col-xs-2                 =< @wagon.count_side_top_places
.clearfix

.col-xs-offset-3.col-xs-3 Боковых нижне места:
.col-xs-2                 =< @wagon.count_side_lower_places
.clearfix

.col-xs-offset-3.col-xs-3 Сидячие места:
.col-xs-2                 =< @wagon.count_seat_places
.clearfix

.col-xs-offset-3.col-xs-3 Тип вагона:
.col-xs-2                 = @wagon.type_name
.clearfix

br
= button_to "Назад", @wagon.train, :method=>:get, :class => "btn btn-primary"
