/*
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require fullcalendar
 *= require fullcalendar.print
 *= require bootstrap-datetimepicker
 *= require bootstrap-toggle-buttons
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


.center {
  margin: auto;
  text-align: center;

}

.field_with_errors {
  margin: auto;
  text-align: center;

}


.error  {
  margin: auto;
  text-align: center;

}


.margin {
  margin: 1px;
}
/*
.navbar-header {
  text-align: center;
  float: none;
}
*/
