h1 Поезд
p#notice= notice

.col-xs-offset-4.col-xs-2 Номер:
.col-xs-2 =< @train.number
.clearfix

.col-xs-offset-4.col-xs-2  Маршрут:
- if @train.route.present?
  .col-xs-2 =< @train.route.name
- else
  .col-xs-4 Поезд не находится ни на какой станции
.clearfix
br

h4.center Вагоны:

- @train.wagons.sort_number_down.each do |wagon|
  .col-xs-12 = link_to "№#{wagon.number}", admin_wagon_path(:train_id => wagon.train.id, :id => wagon.id)
  .clearfix

br
= button_to "Добавить вагон", new_admin_train_wagon_path(@train), method: :get, class: "btn btn-primary"
br


.col-xs-offset-4.col-xs-2 = button_to t("common.edit"), edit_admin_train_path(@train), method: :get, class: "btn btn-primary"
.col-xs-2 = button_to t("common.back"), admin_trains_path, method: :get, class: "btn btn-primary"
